In [1]:
import pandas as pd
import pycountry_convert as pycon

In [2]:
df = pd.read_csv("data.csv")

/tmp/ipykernel_64806/3477112522.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data.csv")

In [3]:
df_overview = df[df['commodity'] == 'ALL COMMODITIES']

In [4]:
df_overview = df_overview.drop(['comm_code', 'commodity', 'weight_kg', 'quantity_name', 'quantity', 'category'], axis=1).reset_index(drop=True)

In [5]:
df_overview

     country_or_area  year       flow   trade_usd
0        Afghanistan  2016     Import  6534140413
1        Afghanistan  2016     Export   596455337
2        Afghanistan  2015     Import  7722865049
3        Afghanistan  2015     Export   571404967
4        Afghanistan  2014     Import  7697178170
...              ...   ...        ...         ...
9180        Zimbabwe  2001     Export  1206807424
9181        Zimbabwe  2001  Re-Export    15943977
9182        Zimbabwe  2000     Export  1924962432
9183        Zimbabwe  1995     Import  2658853376
9184        Zimbabwe  1995     Export  1845905792

[9185 rows x 4 columns]

In [6]:
def get_cont(country):
    continent_names={'NA':'North America', 
                 'AS':'Asia', 
                 'EU':'Europe', 
                 'AF':'Africa', 
                 'SA':'South America', 
                 'OC':'Oceania'}
    try:
        code = pycon.country_name_to_country_alpha2(country)
        continent_code = pycon.country_alpha2_to_continent_code(code)
        continent = continent_names[continent_code]
        return continent
    except:
        return None

'Asia'

In [28]:
df_overview['continent'] = df_overview['country_or_area'].apply(get_cont)

In [29]:
df_overview

     country_or_area  year       flow   trade_usd continent
0        Afghanistan  2016     Import  6534140413      Asia
1        Afghanistan  2016     Export   596455337      Asia
2        Afghanistan  2015     Import  7722865049      Asia
3        Afghanistan  2015     Export   571404967      Asia
4        Afghanistan  2014     Import  7697178170      Asia
...              ...   ...        ...         ...       ...
9180        Zimbabwe  2001     Export  1206807424    Africa
9181        Zimbabwe  2001  Re-Export    15943977    Africa
9182        Zimbabwe  2000     Export  1924962432    Africa
9183        Zimbabwe  1995     Import  2658853376    Africa
9184        Zimbabwe  1995     Export  1845905792    Africa

[9185 rows x 5 columns]

In [30]:
df_overview.to_csv('overview.csv', index = False)

In [35]:
df = df.drop_duplicates()
df = df.dropna()

In [36]:
df = df.drop(['comm_code', 'quantity_name', 'quantity', 'weight_kg'], axis = 1)

In [38]:
df['continent'] = df['country_or_area'].apply(get_cont)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7876117 entries, 0 to 8225463
Data columns (total 7 columns):
 #   Column           Dtype
---  ------           -----
 0   country_or_area  object
 1   year             int64
 2   commodity        object
 3   flow             object
 4   trade_usd        int64
 5   category         object
 6   continent        object
dtypes: int64(2), object(5)
memory usage: 480.7+ MB

In [40]:
df.columns

Index(['country_or_area', 'year', 'commodity', 'flow', 'trade_usd', 'category',
       'continent'],
      dtype='object')

In [41]:
df

,country_or_area,year,commodity,flow,trade_usd,category,continent
0,Afghanistan,2016,"Sheep, live",Export,6088,01_live_animals,Asia
1,Afghanistan,2016,"Goats, live",Export,3958,01_live_animals,Asia
2,Afghanistan,2008,"Bovine animals, live pure-bred breeding",Import,1026804,01_live_animals,Asia
3,Albania,2016,"Bovine animals, live, except pure-bred breeding",Import,2414533,01_live_animals,Europe
4,Albania,2016,"Swine, live except pure-bred breeding > 50 kg",Import,14265937,01_live_animals,Europe
...,...,...,...,...,...,...,...
8225123,Tunisia,1995,ALL COMMODITIES,Export,5474626110,all_commodities,Africa
8225460,United Kingdom,1998,ALL COMMODITIES,Import,311879512430,all_commodities,Europe
8225461,United Kingdom,1998,ALL COMMODITIES,Export,270295285433,all_commodities,Europe
8225462,United Kingdom,1997,ALL COMMODITIES,Import,305135405241,all_commodities,Europe
8225463,United Kingdom,1997,ALL COMMODITIES,Export,278906969481,all_commodities,Europe

In [45]:
df = df.groupby(['country_or_area', 'continent', 'category', 'commodity', 'flow', 'year'], as_index = False).sum()

In [49]:
df = df[df['flow'].isin(['Export', 'Import'])]
df = df[df['category'] != 'all_commodities']

In [52]:
df.to_csv('data_cleaned.csv', index = False)

In [44]:
len(df)

7876117